<footer>
    <div>
        <div>
            <p>
                <a routerLinkActive="active" routerLink="contacto">Contáctenos</a>
                <a routerLinkActive="active" routerLink="terms">Términos y condiciones</a>
                <strong><a routerLinkActive="active" routerLink="about">Quienes somos</a></strong>
                <a href="https://autogestion.produccion.gob.ar/consumidores">Defensa del consumidor</a>
            </p> 
        </div>
    </div>
    <br>
    <p>Copyright @ 2023 Entradas Online All rights reserved</p>
</footer>