<section>
    <h2>Destacados</h2>
    <article class="contenedor-cards">
        <div class="espaciador">
            <div class="cards" *ngFor="let card of arrayCards">
                <figure>
                    <img src="{{card.imgcard}}" alt="">
                </figure>
                <div class="contenido">
                    <p><strong>{{card.nombre}}</strong> </p>
                    <a href="#"><button>COMPRAR ENTRADA</button> </a>
                </div>
            </div>
        </div>
        
    </article>

    <h4><a routerLinkActive="active" routerLink="../main"><button>Volver</button></a></h4>
</section>