<section>
    <h2>Quienes somos</h2>
    <article class="article-qs">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam cupiditate quis illo et dolore quos
            exercitationem optio, dignissimos obcaecati sapiente vitae, molestias maxime doloremque architecto itaque
            quaerat saepe tempora fugit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quo facere veritatis sed hic, fuga alias,
            tempore repudiandae, eveniet deserunt vero optio eum! Corrupti incidunt laborum provident dolores, nisi
            quaerat.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt dignissimos pariatur odio nihil sequi
            possimus nesciunt. Dolorem nostrum sint doloremque quisquam quibusdam distinctio dolores, eveniet, alias eos
            omnis earum commodi?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam cupiditate quis illo et dolore quos
            exercitationem optio, dignissimos obcaecati sapiente vitae, molestias maxime doloremque architecto itaque
            quaerat saepe tempora fugit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quo facere veritatis sed hic, fuga alias,
            tempore repudiandae, eveniet deserunt vero optio eum! Corrupti incidunt laborum provident dolores, nisi
            quaerat.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt dignissimos pariatur odio nihil sequi
            possimus nesciunt. Dolorem nostrum sint doloremque quisquam quibusdam distinctio dolores, eveniet, alias eos
            omnis earum commodi?
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam cupiditate quis illo et dolore quos
            exercitationem optio, dignissimos obcaecati sapiente vitae, molestias maxime doloremque architecto itaque
            quaerat saepe tempora fugit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quo facere veritatis sed hic, fuga alias,
            tempore repudiandae, eveniet deserunt vero optio eum! Corrupti incidunt laborum provident dolores, nisi
            quaerat.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt dignissimos pariatur odio nihil sequi
            possimus nesciunt. Dolorem nostrum sint doloremque quisquam quibusdam distinctio dolores, eveniet, alias eos
            omnis earum commodi?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam cupiditate quis illo et dolore quos
            exercitationem optio, dignissimos obcaecati sapiente vitae, molestias maxime doloremque architecto itaque
            quaerat saepe tempora fugit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quo facere veritatis sed hic, fuga alias,
            tempore repudiandae, eveniet deserunt vero optio eum! Corrupti incidunt laborum provident dolores, nisi
            quaerat.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt dignissimos pariatur odio nihil sequi
            possimus nesciunt. Dolorem nostrum sint doloremque quisquam quibusdam distinctio dolores, eveniet, alias eos
            omnis earum commodi?
        </p>
    </article>
    <h4><a routerLinkActive="active" routerLink="../main"><button>Volver</button></a></h4>
</section>