<section>
    <h2>Registro</h2>
    <article class="article-contacto">
        <!-- Alert -->
        <div #alert id="alert-register" class="alert alert-danger" role="alert" style="display: none;">
            No pudo registrarse.
        </div>
        <form [formGroup]="formGroup" autocomplete="off">

            <label for="email"><strong>Email</strong> </label>
            <input type="email" id="email" name="email" formControlName="email">

            <div *ngIf="formGroup.controls['email'].errors && formGroup.controls['email'].dirty" class="alert alert-warning">
                <p *ngIf="formGroup.controls['email'].errors['email']">Debe contener un signo @</p>
                <p *ngIf="formGroup.controls['email'].errors['required']">Campo obligatorio</p>
                <p *ngIf="formGroup.controls['email'].errors['contieneEspacios']">No puede contener espacios</p>
            </div>

            <label for="password"><strong>Contraseña</strong></label>
            <input type="password" id="password" name="password" formControlName="password">
            <div *ngIf="formGroup.controls['password'].errors && formGroup.controls['password'].dirty" class="alert alert-warning">
                <p *ngIf="formGroup.controls['password'].errors['required']">Campo obligatorio</p>
            </div>

            <div class="centrar">
                <button id="enviar" type="submit" [disabled]="formGroup.invalid" (click)="enviarFormulario()">Enviar</button>
            </div>
        </form>
    </article>
    <h4><a routerLinkActive="active" routerLink="../main"><button>Volver</button></a></h4>
</section>