<section>
    <h2>Preguntas frecuentes</h2>
    <article>
        <ol>
            <li>
                <br>
                <p><strong>¿Cómo hacer una cosa?</strong></p>
                <p>Para hacer una cosa usted debe hacer una cosa. No debe confundirse con hacer otra cosa</p>
                <br>
            </li>
            <li>
                <br>
                <p><strong>¿Cómo hacer una cosa?</strong></p>
                <p>Para hacer una cosa usted debe hacer una cosa. No debe confundirse con hacer otra cosa</p>
                <br>
            </li>
            <li>
                <br>
                <p><strong>¿Cómo hacer una cosa?</strong></p>
                <p>Para hacer una cosa usted debe hacer una cosa. No debe confundirse con hacer otra cosa</p>
                <br>
            </li>
            <li>
                <br>
                <p><strong>¿Cómo hacer una cosa?</strong></p>
                <p>Para hacer una cosa usted debe hacer una cosa. No debe confundirse con hacer otra cosa</p>
                <br>
            </li>
            <li>
                <br>
                <p><strong>¿Cómo hacer una cosa?</strong></p>
                <p>Para hacer una cosa usted debe hacer una cosa. No debe confundirse con hacer otra cosa</p>
                <br>
            </li>
            <li>
                <br>
                <p><strong>¿Cómo hacer una cosa?</strong></p>
                <p>Para hacer una cosa usted debe hacer una cosa. No debe confundirse con hacer otra cosa</p>
                <br>
            </li>
            <li>
                <br>
                <p><strong>¿Cómo hacer una cosa?</strong></p>
                <p>Para hacer una cosa usted debe hacer una cosa. No debe confundirse con hacer otra cosa</p>
                <br>
            </li>
            <li>
                <br>
                <p><strong>¿Cómo hacer una cosa?</strong></p>
                <p>Para hacer una cosa usted debe hacer una cosa. No debe confundirse con hacer otra cosa</p>
                <br>
            </li>
            <li>
                <br>
                <p><strong>¿Cómo hacer una cosa?</strong></p>
                <p>Para hacer una cosa usted debe hacer una cosa. No debe confundirse con hacer otra cosa</p>
                <br>
            </li>
            <li>
                <br>
                <p><strong>¿Cómo hacer una cosa?</strong></p>
                <p>Para hacer una cosa usted debe hacer una cosa. No debe confundirse con hacer otra cosa</p>
                <br>
            </li>

        </ol>
    </article>
    <h4><a routerLinkActive="active" routerLink="../main"><button>Volver</button></a></h4>
</section>